<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.example.WeeklyReport.env.mapper.ProjectMapper">
	
	<select id="find" resultType="com.example.WeeklyReport.env.entity.Project">
	  select * from project where id = #{projectId};
	</select>
	
	<select id="findList" resultType="com.example.WeeklyReport.env.entity.Project">
	  select * from project;
	</select>
	
	<insert id="create" useGeneratedKeys="true" keyProperty="id">
      insert into project (name, deadline, leader, member, statusCode) values (#{name}, #{deadline}, #{leader}, #{member}, #{statusCode});
   </insert>
   
   <update id="update">
      update project set name = #{name}, deadline = #{deadline}, leader = #{leader}, member = #{member} where id = #{id};
   </update>
   
   <update id="changeStatus">
      update project set statusCode = #{statusCode} where id = #{id};
   </update>
</mapper>