<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.example.WeeklyReport.env.mapper.ReportMapper">
	
	<select id="findById" resultType="com.example.WeeklyReport.env.entity.Report">
	  select * from report where id = #{id};
	</select>
	
	<select id="findLastWeek" resultType="com.example.WeeklyReport.env.entity.Report">
	  select * from report where reportDateId = #{reportDateId} and projectId = #{projectId};
	</select>	
	
	<select id="findListById" resultType="com.example.WeeklyReport.env.entity.Report">
	  select * from report inner join project on report.projectId = project.id where report.reportDateId = #{reportDateId};
	</select>
	
	<insert id="insert">
	  insert into report (reportDateId, projectId, lastWeekCondition, thisWeekPlan, problem) values (#{reportDateId}, #{projectId}, #{lastWeekCondition}, #{thisWeekPlan}, #{problem});
	</insert>	
	
</mapper>